/* CSS HEX */
:root {
  --background: #F1F1F1;
  --background-dark: #4F4F4F;
  --primary: #1f1f1f;
  --secondary: #174e30;
}
/*  */

/* HTML */
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

html,
body {
  scroll-behavior: smooth;
  background-color: var(--background) !important;
  min-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

::selection {
  background-color: var(--secondary);
  color: transparent;
}
/*  */

/* Navbar */
.navbar {
  font-family: "Ubuntu", sans-serif;
}

.navbar a h5 {
  font-weight: 400;
  font-size: 100%;
}

.navbar a,
.navbar a:visited {
  color: var(--primary) !important;
  transition: 0.2s;
}

.navbar a:hover {
  color: var(--secondary) !important;
}

.navbar .navbar-nav h6 {
  font-weight: 400 !important;
  font-size: 90% !important;
}

.navbar .navbar-nav a,
.navbar .navbar-nav a:visited {
  color: var(--background-dark) !important;
}

.navbar .navbar-nav a:hover {
  color: var(--secondary) !important;
}

.navbar .navbar-nav .nav-item .active {
  color: var(--secondary) !important;
}

.navbar .navbar-nav .nav-item .active h6 {
  color: var(--secondary) !important;
  font-weight: 600 !important;
}
/*  */

/* Home */
.home .container-fluid {
  min-height: 20vh;
}

.home h1 {
  font-family: "Prompt", sans-serif;
  font-weight: 600;
  transition: 0.2s;
}

.home .home-text {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  color: var(--primary);
}

.home .name-text {
  color: transparent;
  -webkit-text-stroke: var(--secondary) 5px;
  font-size: 14vw;
}

.home .name-text:hover {
  color: var(--secondary);
}
/*  */

/* Projects */
.projects {
  font-family: "Prompt", sans-serif;
  color: var(--primary);
}

.projects .container-fluid {
  min-height: 20vh;
}

.projects .card {
  background-color: transparent;
}

.projects h1,
.projects h2 {
  font-family: "Ubuntu", sans-serif;
}

.projects h5 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

.projects h6 {
  font-family: 'Roboto Mono', monospace;
}

.projects p {
  font-size: medium;
  font-weight: 300; 
  font-family: 'Prompt', sans-serif;
  margin: 0px;
  color: var(--secondary);
}
/*  */

/* Section */
section {
  font-family: "Prompt", sans-serif;
}

section .container-fluid {
  min-height: 20vh;
}

section h1,
section h2 {
  font-family: "Ubuntu", sans-serif;
}

section h5 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  color: var(--primary);
}

section h6 {
  font-family: 'Roboto Mono', monospace;
  color: var(--primary);
}

section p {
  font-size: medium;
  font-weight: 300; 
  font-family: 'Prompt', sans-serif;
  margin: 0px;
}

section img {
  transition: 0.2s;
  /* width: 60%; */
}

section img:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
/*  */

/* Title */
.title .container-fluid {
  min-height: 20vh;
}

.title h1 {
  font-family: "Prompt", sans-serif;
  font-weight: 600;
  transition: 0.2s;
  font-size: 11vw;
}

.title .student-text {
  color: var(--primary);
}

.title .swe-text {
  color: rgba(0,0,0,0);
  -webkit-text-stroke: var(--secondary) 3px;
}

.title .swe-text:hover {
  color: var(--secondary);
}
/*  */

/* Contact */
.contact .container-fluid {
  min-height: 20vh;
}

.contact .idea-text {
  font-size: 10vw;
  color: var(--primary);
}

.contact .talk-text {
  font-size: 10vw;
  color: transparent;
  transition: 0.2s;
}

.contact a {
  text-decoration: none;
  color: transparent;
  text-decoration: none;
  -webkit-text-stroke: var(--secondary) 3px;
}

.contact a .talk-text:hover {
  text-decoration: none;
  color: var(--secondary);
}
/*  */

/* Misc. */
hr {
  opacity: 1; 
  width: 50px;
  border-top: 3px solid var(--secondary);
}

.dashed {
  border-top: 2.5px dashed var(--secondary) !important;
  color: transparent;
}

.sub {
  opacity: 1; 
  width: 25px;
  border-top: 3px solid var(--secondary);
}

.main {
  opacity: 1; 
  width: 75px;
  border-top: 3px solid var(--secondary);
}

.no-click {
  cursor: auto;
}

small {
  color: var(--background-dark);
}

.card {
  border: 0;
}

.card-overlay {
  background-color: #1C1C25;
}

.card-btn img:hover {
  opacity: 40%;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

.card img {
  height: 50vh;
  object-fit: cover;
  transition: 0.2s;
}

.list-group-item {
  background-color: transparent;
  border-color: var(--secondary);
  text-decoration-color: var(--secondary);
  color: var(--secondary);
  transition: 0.2s;
  border-radius: 5px !important;
}

.list-group-item:hover  {
  background-color: var(--secondary);
  color: var(--background);
  text-decoration-color: var(--background);
}

a.btn {
  background-color: transparent;
  border-color: var(--secondary);
  text-decoration-color: var(--secondary);
  color: var(--secondary);
  text-decoration: underline;
  transition: 0.2s;
  border-radius: 5px !important;
}

a.btn:hover  {
  background-color: var(--secondary);
  color: var(--background);
  text-decoration-color: var(--background);
}

.navbar-toggler-icon {
  color: var(--primary);
  font-size: medium;
}

#arrow {
  color: var(--secondary);
}

#back-to-top {
  color: var(--primary);
}
/*  */

 /* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
  .home .name-text {
    font-size: 16vw;
    -webkit-text-stroke: var(--secondary) 1.5px;
  }
  
  .title .swe-text {
    -webkit-text-stroke: var(--secondary) 1.5px;
  }

  .title h1,
  .contact .idea-text,
  .contact .talk-text {
    font-size: 16vw;
  }

  .contact a {
    -webkit-text-stroke: var(--secondary) 1.5px;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
  .home .name-text {
    font-size: 16vw;
    -webkit-text-stroke: var(--secondary) 2px;
  }
  
  .title .swe-text {
    -webkit-text-stroke: var(--secondary) 2px;
  }

  .title h1,
  .contact .idea-text,
  .contact .talk-text {
    font-size: 16vw;
  }

  .contact a {
    -webkit-text-stroke: var(--secondary) 2px;
  }
}

/* Medium devices (tablets, less than 992px) */
/* @media (max-width: 991.98px) { 
  .home .name-text {
    font-size: 15vw;
    -webkit-text-stroke: var(--secondary) 2px;
  }
  
  .title .swe-text {
    -webkit-text-stroke: var(--secondary) 2px;
  }

  .title h1,
  .contact .idea-text,
  .contact .talk-text {
    font-size: 15vw;
  }

  .contact a {
    -webkit-text-stroke: var(--secondary) 2px;
  }
} */

/* Large devices (desktops, less than 1200px) */
/* @media (max-width: 1199.98px) {   
  .home .name-text {
    font-size: 15vw;
    -webkit-text-stroke: var(--secondary) 2px;
  }

  .title .swe-text {
    -webkit-text-stroke: var(--secondary) 2px;
  }

  .title h1,
  .contact .idea-text,
  .contact .talk-text {
    font-size: 15vw;
  }

  .contact a {
    -webkit-text-stroke: var(--secondary) 2px;
  }
} */

/* // X-Large devices (large desktops, less than 1400px) */
/* @media (max-width: 1399.98px) { 
  .home .name-text {
    font-size: 15vw;
    -webkit-text-stroke: var(--secondary) 3px;
  }

  .title .swe-text {
    -webkit-text-stroke: var(--secondary) 3px;
  }

  .title h1,
  .contact .idea-text,
  .contact .talk-text {
    font-size: 15vw;
  }

  .contact a {
    -webkit-text-stroke: var(--secondary) 3px;
  }
} */